<h1>Listing customer_demographics</h1>

<table>
  <tr>
    <th>Customerdesc</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @customer_demographics.each do |customer_demographic| %>
  <tr>
    <td><%= customer_demographic.CustomerDesc %></td>
    <td><%= link_to 'Show', customer_demographic %></td>
    <td><%= link_to 'Edit', edit_customer_demographic_path(customer_demographic) %></td>
    <td><%= link_to 'Destroy', customer_demographic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Customer demographic', new_customer_demographic_path %>
