<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :LastName %><br />
    <%= f.text_field :LastName %>
  </div>
  <div class="field">
    <%= f.label :FirstName %><br />
    <%= f.text_field :FirstName %>
  </div>
  <div class="field">
    <%= f.label :Title %><br />
    <%= f.text_field :Title %>
  </div>
  <div class="field">
    <%= f.label :TitleOfCourtesy %><br />
    <%= f.text_field :TitleOfCourtesy %>
  </div>
  <div class="field">
    <%= f.label :Birthdate %><br />
    <%= f.date_select :Birthdate %>
  </div>
  <div class="field">
    <%= f.label :Hiredate %><br />
    <%= f.date_select :Hiredate %>
  </div>
  <div class="field">
    <%= f.label :Address %><br />
    <%= f.text_field :Address %>
  </div>
  <div class="field">
    <%= f.label :City %><br />
    <%= f.text_field :City %>
  </div>
  <div class="field">
    <%= f.label :Region %><br />
    <%= f.text_field :Region %>
  </div>
  <div class="field">
    <%= f.label :PostalCode %><br />
    <%= f.text_field :PostalCode %>
  </div>
  <div class="field">
    <%= f.label :Country %><br />
    <%= f.text_field :Country %>
  </div>
  <div class="field">
    <%= f.label :HomePhone %><br />
    <%= f.text_field :HomePhone %>
  </div>
  <div class="field">
    <%= f.label :Extension %><br />
    <%= f.text_field :Extension %>
  </div>
  <div class="field">
    <%= f.label :Photo %><br />
    <%= f.text_field :Photo %>
  </div>
  <div class="field">
    <%= f.label :Notes %><br />
    <%= f.text_field :Notes %>
  </div>
  <div class="field">
    <%= f.label :PhotoPath %><br />
    <%= f.text_field :PhotoPath %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
