<p id="notice"><%= notice %></p>

<p>
  <b>Lastname:</b>
  <%= @employee.LastName %>
</p>

<p>
  <b>Firstname:</b>
  <%= @employee.FirstName %>
</p>

<p>
  <b>Title:</b>
  <%= @employee.Title %>
</p>

<p>
  <b>Titleofcourtesy:</b>
  <%= @employee.TitleOfCourtesy %>
</p>

<p>
  <b>Birthdate:</b>
  <%= @employee.BirthDate %>
</p>

<p>
  <b>Hiredate:</b>
  <%= @employee.HireDate %>
</p>

<p>
  <b>Address:</b>
  <%= @employee.Address %>
</p>

<p>
  <b>City:</b>
  <%= @employee.City %>
</p>

<p>
  <b>Region:</b>
  <%= @employee.Region %>
</p>

<p>
  <b>Postalcode:</b>
  <%= @employee.PostalCode %>
</p>

<p>
  <b>Country:</b>
  <%= @employee.Country %>
</p>

<p>
  <b>Homephone:</b>
  <%= @employee.HomePhone %>
</p>

<p>
  <b>Extension:</b>
  <%= @employee.Extension %>
</p>

<p>
  <b>Photo:</b>
  <%= @employee.Photo %>
</p>

<p>
  <b>Notes:</b>
  <%= @employee.Notes %>
</p>

<p>
  <b>Photopath:</b>
  <%= @employee.PhotoPath %>
</p>


<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
