<h1>Listing order_details</h1>

<table>
  <tr>
    <th>Unitprice</th>
    <th>Quantity</th>
    <th>Discount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @order_details.each do |order_detail| %>
  <tr>
    <td><%= order_detail.UnitPrice %></td>
    <td><%= order_detail.Quantity %></td>
    <td><%= order_detail.Discount %></td>
    <td><%= link_to 'Show', order_detail %></td>
    <td><%= link_to 'Edit', edit_order_detail_path(order_detail) %></td>
    <td><%= link_to 'Destroy', order_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Order detail', new_order_detail_path %>
