<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Orderdate %><br />
    <%= f.text_field :Orderdate %>
  </div>
  <div class="field">
    <%= f.label :Shippeddate %><br />
    <%= f.text_field :Shippeddate %>
  </div>
  <div class="field">
    <%= f.label :Freight %><br />
    <%= f.text_field :Freight %>
  </div>
  <div class="field">
    <%= f.label :ShipName %><br />
    <%= f.text_field :ShipName %>
  </div>
  <div class="field">
    <%= f.label :ShipAddress %><br />
    <%= f.text_field :ShipAddress %>
  </div>
  <div class="field">
    <%= f.label :ShipCity %><br />
    <%= f.text_field :ShipCity %>
  </div>
  <div class="field">
    <%= f.label :ShipRegion %><br />
    <%= f.text_field :ShipRegion %>
  </div>
  <div class="field">
    <%= f.label :ShipPostalCode %><br />
    <%= f.text_field :ShipPostalCode %>
  </div>
  <div class="field">
    <%= f.label :ShipCountry %><br />
    <%= f.text_field :ShipCountry %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
