<h1>Listing shippers</h1>

<table>
  <tr>
    <th>Companyname</th>
    <th>Phone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shippers.each do |shipper| %>
  <tr>
    <td><%= shipper.CompanyName %></td>
    <td><%= shipper.Phone %></td>
    <td><%= link_to 'Show', shipper %></td>
    <td><%= link_to 'Edit', edit_shipper_path(shipper) %></td>
    <td><%= link_to 'Destroy', shipper, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shipper', new_shipper_path %>
