<%= form_for(@territory) do |f| %>
  <% if @territory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@territory.errors.count, "error") %> prohibited this territory from being saved:</h2>

      <ul>
      <% @territory.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :TerritoryDescription %><br />
    <%= f.text_field :TerritoryDescription %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
