<h1>Listing territories</h1>

<table>
  <tr>
    <th>Territorydescription</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @territories.each do |territory| %>
  <tr>
    <td><%= territory.TerritoryDescription %></td>
    <td><%= link_to 'Show', territory %></td>
    <td><%= link_to 'Edit', edit_territory_path(territory) %></td>
    <td><%= link_to 'Destroy', territory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Territory', new_territory_path %>
