<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ProductName %><br />
    <%= f.text_field :ProductName %>
  </div>
  <div class="field">
    <%= f.label :QuantityPerUnit %><br />
    <%= f.text_field :QuantityPerUnit %>
  </div>
  <div class="field">
    <%= f.label :UnitPrice %><br />
    <%= f.text_field :UnitPrice %>
  </div>
  <div class="field">
    <%= f.label :UnitsInStock %><br />
    <%= f.number_field :UnitsInStock %>
  </div>
  <div class="field">
    <%= f.label :UnitsOnOrder %><br />
    <%= f.number_field :UnitsOnOrder %>
  </div>
  <div class="field">
    <%= f.label :ReorderLevel %><br />
    <%= f.number_field :ReorderLevel %>
  </div>
  <div class="field">
    <%= f.label :Discontinued %><br />
    <%= f.number_field :Discontinued %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
