<h1>Listing products</h1>

<table>
  <tr>
    <th>Productname</th>
    <th>Quantityperunit</th>
    <th>Unitprice</th>
    <th>Unitsinstock</th>
    <th>Unitsonorder</th>
    <th>Reorderlevel</th>
    <th>Discontinued</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.ProductName %></td>
    <td><%= product.QuantityPerUnit %></td>
    <td><%= product.UnitPrice %></td>
    <td><%= product.UnitsInStock %></td>
    <td><%= product.UnitsOnOrder %></td>
    <td><%= product.ReorderLevel %></td>
    <td><%= product.Discontinued %></td>
    <td><%= link_to 'Show', product %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product', new_product_path %>
