<%= form_for(@supplier) do |f| %>
  <% if @supplier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@supplier.errors.count, "error") %> prohibited this supplier from being saved:</h2>

      <ul>
      <% @supplier.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :CompanyName %><br />
    <%= f.text_field :CompanyName %>
  </div>
  <div class="field">
    <%= f.label :ContactName %><br />
    <%= f.text_field :ContactName %>
  </div>
  <div class="field">
    <%= f.label :ContactTitle %><br />
    <%= f.text_field :ContactTitle %>
  </div>
  <div class="field">
    <%= f.label :Address %><br />
    <%= f.text_field :Address %>
  </div>
  <div class="field">
    <%= f.label :City %><br />
    <%= f.text_field :City %>
  </div>
  <div class="field">
    <%= f.label :Region %><br />
    <%= f.text_field :Region %>
  </div>
  <div class="field">
    <%= f.label :PostalCode %><br />
    <%= f.text_field :PostalCode %>
  </div>
  <div class="field">
    <%= f.label :Country %><br />
    <%= f.text_field :Country %>
  </div>
  <div class="field">
    <%= f.label :Phone %><br />
    <%= f.text_field :Phone %>
  </div>
  <div class="field">
    <%= f.label :Fax %><br />
    <%= f.text_field :Fax %>
  </div>
  <div class="field">
    <%= f.label :HomePage %><br />
    <%= f.text_field :HomePage %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
